$theme: #ff6b11;
$ass_theme:#eb6100;
$theme_grey:#737373;
$btn_yellow:#FFA13B;
$blue:#00aeef;
$white:#fff;
$black:#000;
$green:#00a651;
$yellow:#fcf150;
$red_tip:#ff3216;
$grey_bg:#555;
$grey_nav:#333;
$grey_tabbar:#4b4b4b;
$grey_title:#303030;
$grey_text:#9a9a9a;
$grey_text2:#3e3e3e;
$grey_text3:#595959;
$grey_bg2:#f5f5f5;
$grey_bg3:#e6e6e6;
$grey_border: #9a9a9a;
$grey_border2:#a7a7a7;
$table_header_bg_color: #f3f3f3;
$index_bd_color: #eaeaea;
$red_bt_bg:#ff3d12;
//登录验证组件所需颜色
$red_border:#ffdad3;
$white_bg:#f5f5fa;

//底部线颜色
$grey_line:#dadbdf;
// 导航栏底部分割线
$nav_line:#dadbdf;

//分割线
$separate_line:#f3f3f3;


// facebook
$facebook_theme:#334e8a;
$facebook_theme2:#3254AE;
$max_width:600px !default;

$bottemLine:1px solid $separate_line;
